version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: homelab-backstage-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123!
      POSTGRES_DB: homelab-backstage-db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

